<img src='{{ profile_medium }}'>
<div class='athlete_info'>
  <a target='_blank' href='http://www.strava.com/athletes/{{ id }}' class='name'>{{ firstname }} {{ lastname }}</a>
  <span class='location'>{{ city }}, {{ state }}</span>
</div>