<a href='http://www.strava.com/segments/{{ id }}' class='name'>{{ name }}</span>
<span class='location'>{{ city }}, {{ state }}</span>
<span class='distance unit'>{{ distance }}m {{ activity_type }}</span>